body
{
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 0;
}

#params {
    width: 100%;
    height: 35px;
    white-space: nowrap;
}

#objectNavigator {
    width: 15%;
    height: calc(100% - 35px);
    white-space: nowrap;
    float: left;
    outline: 1px solid;
    box-sizing: border-box;
}

#objectTypeComboBox, #objFilter {
    width: 95%;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    box-sizing: border-box;
}

#objectNavigator label {
    width: 100%;
    float: left;
    margin-top: 3px;
    padding-left: 3px;
    box-sizing: border-box;
}

#objectList {
    width: 75%;
    list-style-type: none;
    padding: 0 0 0 0;
    margin-left: 3px;
    box-sizing: border-box;
}

#objectListContainer {
    width: 100%;
    height: calc(100% - 77px);
    float: left;
    overflow: auto;
    box-sizing: border-box;
}

pre {
    width: 85%;
    height: calc(100% - 49px);
    overflow: scroll;
    float: right;
    padding: 5px;
    box-sizing: border-box;
}

.is-hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    padding: 20px 30px;
    width: 400px;
    position: relative;
    min-height: 150px;
    margin: 5% auto 0;
    background: #fff;
}

.modal-content label, .modal-content input, .modal-content select {
    display: inline-block;
}

.inline {
    display: inline-block;
}

.modal-content label {
    width: 20%;
    text-align: right;
}

.modal-content label + input {
    width: 70%;
    margin-left: 4%;
}

.modal-content label + select {
    width: 70%;
    margin-left: 4%;
    height: 21px;
}

.modal-content button {
    float: right;
    margin-right: 5%;
    width: 20%;
}

.modal-content #errorMessage {
    color: red;
    display: inline-block;
    margin-top: 10px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    background-color: lavender;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 3px;
}