body
{
    overflow: hidden;
}

#params {
    width: 100%;
    height: 35px;
    white-space: nowrap;
}

#objectNavigator {
    width: 15%;
    height: 100%;
    white-space: nowrap;
    float: left;
    outline: 1px solid;
}

#objectTypeComboBox {
    width: 100%;
}

#objectList {
    width: 100%;
    overflow: auto;
    list-style-type: none;
    padding: 0 0 0 0;
}

pre {
    width: 84%;
    height: 90%;
    overflow: scroll;
    float: right;
    margin: 5px 0 0 0;
}

.is-hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    padding: 20px 30px;
    width: 400px;
    position: relative;
    min-height: 150px;
    margin: 5% auto 0;
    background: #fff;
}

.modal-content label, .modal-content input 
{
    display: inline-block;
}

.inline {
    display: inline-block;
}

.modal-content label {
    width: 20%;
    text-align: right;
}

.modal-content label + input {
    width: 70%;
    margin-left: 4%;
}

.modal-content button {
    float: right;
    margin-right: 5%;
    width: 20%;
}

.modal-content #errorMessage {
    color: red;
    display: inline-block;
    margin-top: 10px;
}