<html ng-app="MsSqlDependencyBrowser">
<head>
    <title ng-controller="HeaderCtrl">{{objectName}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
    <body>
        <div id="params" ng-controller="HeaderCtrl">
            <button id="btConnectDialog" ng-click="connectDialog()">Connect</button>
            <button id="btSelectAllText" onclick="selectAllText('text')">Select all</button>
            <div class="inline" id="connectionString" size="100" ng-bind="connectionInfo">{1}</div>
        </div>
        <div id="objectNavigator" ng-controller="ObjectNavigatorCtrl">
            <label for="objectTypeComboBox"><small>Object type</small></label>
            <select id="objectTypeComboBox" ng-change="objectTypeChange()" ng-model="objectType">
                <option ng-repeat="objectType in objectTypeList">{{objectType}}</option>
            </select>
            <label for="objFilter"><small>Object filter</small></label>
            <input id="objFilter" value="" size="20" ng-model="filterObject.name" />
            <div id="objectListContainer">
                <ol id="objectList">
                    <li ng-repeat="object in currentObjectList | filter:filterObject">
                        <a href="#!/sch/{{object.schema}}/obj/{{object.name}}" title="{{object.schema}}.{{object.name}}">{{object.schema}}.{{object.name}}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div ng-controller="ObjectTextCtrl" ng-view></div>

        <div class="overlay is-hidden" id="overlay" ng-controller="ConnectFormCtrl">
            <div class="modal-content">
                <h3>Connection to SQL Server</h3>                
                <label for="server">Server</label>
                <input id="server" value="" size="50" ng-model="model.server" ng-blur="blur()" ng-disabled="model.inProgress" /><br />
                <label for="database">Database</label>
                <select id="database" ng-model="model.database" ng-disabled="model.inProgress">
                    <option ng-repeat="database in model.databaseList">{{database}}</option>
                </select>
                <br /><br />
                <button id="btCancel" onclick="closeModal()" ng-disabled="model.inProgress">Cancel</button>
                <button id="btConnect" ng-click="connect()" ng-disabled="model.inProgress">Connect</button>
                <div id="errorMessage" ng-bind="model.errorMessage"></div>
            </div>
        </div>

        <script type="text/javascript" src="postConnectionString.js"></script>
    </body>

</html>